<div class="row">
    <div class="column col-lg-6 col-md-6">
        <app-detalles-transaccion></app-detalles-transaccion>
    </div>
    <div class="column col-lg-6 col-md-6">
        <div class="card">
            <div class="table-container">
                <div class="table-header">
                    <div class="col-4">
                        <button class="button btn-formaPago" (click)="activeItem('formaPago')">  
                            <h6>Forma de pago</h6>
                        </button>
                    </div>
                    <div class="col-4">
                        <button class="button btn-detalles" (click)="activeItem('detalles')">  
                            <h6>Detalles</h6>
                        </button>
                    </div>
                    <div class="col-4">
                        <button class="button btn-devolucion-pago" (click)="activeItem('devolucionPago')">  
                            <h6>Devolución de pago</h6>
                        </button>
                    </div>
                </div>
                <div class="table-body">
                    <div class="animated fadeIn fast">
                        <!--Tabla Start-->
                        <app-detalles-forma-pago *ngIf="!formaPago"></app-detalles-forma-pago>
                        <app-tabla-vertical *ngIf="!detalles" [displayedColumns]="displayedColumns" [dataSource]="dataSource"></app-tabla-vertical>
                        
                        
                        <div *ngIf=" (!devolucionPago) && (comprobar() == false)" class="row">
                            
                            
                                    <!-- <textarea #motivoDevolucion  id="motivoDevolucion" cols="30" rows="5" placeholder="Motivo de devolución"></textarea> -->
                                    <div class="form-group">
                                        <label for="motivoDevolucion">Motivo de devolución:</label>
                                        <textarea #motivoDevolucion class="form-control mt-2" id="motivoDevolucion" rows="6"></textarea>
                                        <div class="form-footer">
                                            <button class="p-2 rounded" (click)="enviarMotivo()">Devolver pago</button>
                                        </div>
                                      </div>

                    
                                    
                           
                        </div>
                        <!--Tabla End-->
                    </div>
                </div>

            </div>
        </div>
    </div>


    <swal #mensajeSwal title icon confirmButtonText cancelButtonText showCancelButton cancelButtonColor confirmButtonColor confirm></swal>